<!doctype html>
<html>
<head>
  <title>Prueba Vue</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
 <div id="aplicacion">
   <p>
     <input type="checkbox" v-model="terminos">
     Acepto los términos y condiciones
   </p>
   <button v-if="terminos">Confirmar</button>
 </div>

 <script src="https://unpkg.com/vue@3.2.13/dist/vue.global.js"></script> 
 <script>
   const app = Vue.createApp({
     data() {
       return {
         terminos: false
       }
     }
   }).mount('#aplicacion');
 </script>
</body>
</html>
