<!doctype html>
<html>
<head>
  <title>Prueba Vue</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://unpkg.com/vue@3.2.13/dist/vue.global.js"></script> 
</head>
<body>
  <div id="app">
    <p>Ingrese su nombre:<input type="text" v-model="nombre"></p>
    <p>Ingrese su apellido:<input type="text" v-model="apellido"></p>
    <p>Nombre completo: {{nombreCompleto}}</p>
  </div>
  <script>
   const app = Vue.createApp({
       data() {
           return {
               nombre: '',
               apellido: ''
           }
       },
       computed:{
           nombreCompleto() {
               return this.nombre + ' ' + this.apellido;
           }
       }
   }).mount('#app')
  </script>
</body>
</html>